<!DOCTYPE html>
<html>
<head>
    <title>Registro - Gleider Shop</title>
</head>
<body>
    <h2>Crea tu cuenta de cliente</h2>
    <form method="POST">
        <input type="text" name="nombre" placeholder="Nombre completo" required><br><br>
        <input type="email" name="correo" placeholder="Tu correo electrónico" required><br><br>
        <input type="password" name="pass" placeholder="Crea una contraseña" required><br><br>
        <button type="submit">Registrarme</button>
    </form>
    <p><a href="/login">Ya tengo cuenta</a></p>
</body>
</html>
